In [18]:
from pathlib import Path
Path('my_data.db').touch()

In [19]:
import sqlite3
conn = sqlite3.connect('my_data.db')
c = conn.cursor()

In [3]:
import pandas as pd

In [4]:
# load the data into a Pandas DataFrame
accounts = pd.read_csv('accounts.csv')
# write the data to a sqlite table
accounts.to_sql('accounts', conn, if_exists='append', index = False)

In [5]:
orders=pd.read_csv('orders.csv')
orders.to_sql('orders',conn,if_exists='append',index=False)

In [6]:
region=pd.read_csv('region.csv')
region.to_sql('region',conn,if_exists='append',index=False)

In [7]:
sales_reps=pd.read_csv('sales_reps.csv')
sales_reps.to_sql('sales_reps',conn,if_exists='append',index=False)

In [8]:
web_events=pd.read_csv('web_events.csv')
web_events.to_sql('web_events',conn,if_exists='append',index=False)

In [ ]:
c.execute('''SELECT * FROM accounts''').fetchall()

In [20]:
pd.read_sql('''SELECT * FROM region''', conn)

   id       name
0   1  Northeast
1   2    Midwest
2   3  Southeast
3   4       West

In [16]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

[('accounts',), ('orders',), ('region',), ('sales_reps',), ('web_events',)]